ambiente.env
ambiente/
ambiente_bkp/
*.env
api/
api/gmail/
biblioteca_geral/bkp
biblioteca_geral/bkp 2
biblioteca_geral/bkp 3 - COMPRAS
biblioteca_geral/bkp x
biblioteca_geral/*.*


manuais/*.*
temp_rag_uploads/*.*
protheus_custom/*.*